extends layout.pug
block content
    h1 Hello, this is block
    input#username(type="text")
    input#password(type="text")
    button#login Login
    button#signup Signup
    button#logout Logout
    button#user User
    br
    input#title(type="text")
    input#url(type="text")
    button#postpin Post pin
    script(src="/javascript/index_.js")