extends layout.pug
block content
    h1 Hello, this is block
    input#username(name="username" type="text")
    input#password(name="password" type="text")
    button#login Login
    button#signup Signup
    button#logout Logout
    button#user User
    script(src="/javascript/index.js")